# Strings Cont

**Membership**

Returns true if a character exists in the given string

In [ ]:
"X" in "Xavier"

True

In [ ]:
"z" in "Xavier"

False

In [ ]:
"z" not in "Xavier"

True

**String Operations**

In [ ]:
# convert string to capitalized string
s = "ali"
s.upper()

'ALI'

In [ ]:
# convert string to a string in lowercase
s = "ALI"
s.lower()

'ali'

In [ ]:
# search for a string within our string and return the index of the first character
s = "Welcome to Amit"
s.find("Amit")

11

In [ ]:
# remove white spaces from the beginning and end of the string
s = "      Amit      "
s.strip()

'Amit'

**Text Formating**

In [ ]:
# The first way
name = "Ali"
age = 40
salary = 15000

In [ ]:
s = "my name is {} and my age is {}".format(name, age)
print(s)

my name is Ali and may age is 40

In [ ]:
s = "my name is {} and my age is {}".format(name, age, salary)
print(s)

my name is Ali and may age is 40

In [ ]:
s = "my name is {}, my age is {}, and my salary is {}".format(name, age, salary)
print(s)

my name is Ali, may age is 40, and my salary is 15000

In [ ]:
s = "my name is {0}, my age is {1}, and my salary is {2}".format(name, age, salary)
print(s)

my name is Ali, my age is 40, and my salary is 15000

In [ ]:
s = "my name is {1}, my age is {2}, and my salary is {0}".format(name, age, salary)
print(s)

my name is 40, my age is 15000, and my salary is Ali

**Scape characters**

In [ ]:
print("Amit\t")

Amit

In [ ]:
print("Amit\n")

Amit

In [ ]:
print("Amit\b")

Amit

In [ ]:
print("\"Amit\"")

"Amit"

In [ ]:
print('\'Amit\'')

'Amit'

In [ ]:
print("Amit\\")

Amit\

**Stop Scape characters**

In [ ]:
print("Amit\\t")

Amit\t

In [ ]:
print("Amit\\n")

ahmed\n

In [ ]:
print("Amit\"")

Amit"

# Operators
1. Arithmetic Operators

2. Assignment Operators

3. Comparison Operators

4. Logical Operators

5. Bitwise Operators

## 1. Arithmatic Opeartors

In [ ]:
print(5 + 5)
print(5 - 5)
print(5 * 5)
print(5 / 5)
print(5 // 5)
print(5 % 5)
print(5 ** 5)

## 2. Assignment Operators

In [ ]:
a = 5
print(a)
# print(id(a))

5

In [ ]:
a += 5
print(a)
# print(id(a))

10

In [ ]:
a *= 2
print(a)
# print(id(a))

40

## 3. Comparison Operators:

**Basic Comparison**

In [ ]:
print(5 == 5)
print(5 != 5)
print(5 > 4)
print(5 < 4)
print(5 <= 5)
print(5 >= 8)

True
False
True
False
True
False

**Chained Comparison Operators**

In [ ]:
1 < 3 > 2

True

In [ ]:
1 < 2 > 3

False

In [ ]:
"5.5" == "5.5" in "version 5.5"

True

**Identity Comparison (Check if two variabels are the same object)**

return True if two objects are the same. In other words if they have the same id

In [ ]:
x = 5
y = 5

x is y

True

In [ ]:
print(id(x))
print(id(y))

139646916526448
139646916526448

In [ ]:
x = "Welcome"
y = "Welcome"

x is y

True

In [ ]:
x = "Welcome"
y = "Welcome"

x is not y

False

In [ ]:
print(id(x))
print(id(y))

139645659668976
139645818531952

In [ ]:
x = [1, 3]
y = [1, 4]

x is y

False

In [ ]:
x = [1, 3]
y = [1, 4]

x is not y

True

In [ ]:
print(id(x))
print(id(y))

139645659662848
139645659662848

## 4. Logical Operators

In [ ]:
4 < 5 and 5 > 6

False

In [ ]:
1 == 0 or 1 == 1

True

In [ ]:
not 1 == 1

False

## 5. Bitwise Operators

**Bitwise AND Operator &**

In [ ]:
a = 12    # binary: 1100
b = 10    # binary: 1010
result = a & b
print(result)   # Output: 8 (binary: 1000)

8

**Bitwise OR Operator |**

In [ ]:
a = 12    # binary: 1100
b = 10    # binary: 1010
result = a | b
print(result)   # Output: 8 (binary: 1110)

14

**Bitwise XOR Operator ^**

In [ ]:
a = 12    # binary: 1100
b = 10    # binary: 1010
result = a ^ b
print(result)   # Output: 8 (binary: 1110)

6

In [ ]:
a = 12

False

**~ Operator**

In [ ]:
a = 12    # binary: 1100
result = ~a
print(result)   # Output: 8 (binary: 1110)

-13

# Range

**Define a range**

In [ ]:
my_range = range(100)

In [ ]:
my_range = range(10, 100)

In [ ]:
my_range = range(0, 100, 10)

**Acess range items**

In [ ]:
my_range = range(0, 100, 10)

my_range [3]

30

**Print range object**

In [ ]:
# when we try to print it the normal way it just displays its definition
print(my_range)

range(0, 100, 10)

In [ ]:
# the first way: use for loops
for i in my_range:
  print(i, end=" ")

0 10 20 30 40 50 60 70 80 90

In [ ]:
# the second way: convert it into a list
range_to_list = list(my_range)
print(range_to_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# Lists

**Define a list**

In [ ]:
# the first way to define a list
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [ ]:
# the second way to define a list
my_list = list((1, 2, 3))
my_list

[1, 2, 3]

In [ ]:
type(my_list)

list

**Get list length (Number of Items it contains)**

In [ ]:
my_list = [1, 2, 3]
len(my_list)

3

**A list can contain items of different type**

In [ ]:
my_list = ['A string', 23, 5.2, None]
my_list

['A string', 23, 5.2, None]

**A list can contain items of any type (Numbers, Booleans, Lists, Tuples, Objects, etc)**

In [ ]:
lst = [True, 1, "Omar", None]
x = 7

my_list = [1, "Ali", lst, [False, "Amit"], 7]
my_list

[1, 'Ali', [True, 1, 'Omar', None], [False, 'Amit'], 7]

**Indexing**

In [ ]:
my_list = ['one', 'two', 'three', 4, 5]

In [ ]:
my_list[0]

'one'

In [ ]:
my_list[-1]

5

**Slicing**

In [ ]:
my_list[1:]

['two', 'three', 4, 5]

In [ ]:
my_list[:3]

['one', 'two', 'three']

In [ ]:
my_list[-1: : -1]

[5, 4, 'three', 'two', 'one']

**Duplicate list using multiplication operator**

In [ ]:
old_list = ['one', 'two', 'three', 4, 5]

new_list = old_list * 2

print(old_list)
print(new_list)

['one', 'two', 'three', 4, 5]
['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

**Sort a list**

In [ ]:
my_list = [3, 4, 5, 1, 2]
my_list.sort()

my_list

[1, 2, 3, 4, 5]

In [ ]:
my_list = [3, 4, 5, 1, 2]
my_list.sort(reverse = True)

my_list

[5, 4, 3, 2, 1]

**Add new item to a list**

In [ ]:
my_list = ['A string', 23, 5.2, None]

my_list.append(15)
my_list

['A string', 23, 5.2, None, 15]

In [ ]:
my_list = ['A string', 23, 5.2, None]
lst = [1, 2, 3]

my_list.append(lst)
my_list

['A string', 23, 5.2, None, [1, 2, 3]]

**Add a new item to a list at certain position**

In [ ]:
my_list = ['A string', 23, 5.2, None]

my_list.insert(-1 , 15)
my_list

['A string', 23, 5.2, 15, None]

**Remove an Item from a list**

In [ ]:
my_list = ['A string', 23, 5.2, None, 23]

my_list.remove(23)
my_list

['A string', 5.2, None, 23]

**Remove item from a list by position**

In [ ]:
my_list = ['A string', 23, 5.2, None, 23]

removed_item = my_list.pop(1)

print(removed_item)
print(my_list)

23
['A string', 5.2, None, 23]

**Get frequency of an item in a list**

In [ ]:
my_list = [5, 1, 2, 5, 9, 2, 3, 2, 4, 5]
my_list.count(5)

3

**Get index of an element in a list**

In [ ]:
my_list = [5, 1, 2, 5, 9, 2, 3, 2, 4, 5]
my_list.index(9)

4

**Copy a list**

In [ ]:
my_list = ['A string', 23, 5.2, None, 23]
new_list = my_list.copy()

print(new_list)
print(id(my_list))
print(id(new_list))

['A string', 23, 5.2, None, 23]
139645657762496
139645659904448

**Empty a list**

In [ ]:
my_list = ['A string', 23, 5.2, None, 23]

my_list.clear()
my_list

[]

**Merge Two lists into one list using + operator**

In [ ]:
list1 = ['A string', 23, 5.2, None]
list2 = ['ahmed', 55]

list3 = list1 + list2
list3

['A string', 23, 5.2, None, 'ahmed', 55]

**Add items of one list to anohter**

In [ ]:
my_list = ['A string', 23, 5.2, None]
lst = [1, 2, 3]

my_list.extend(lst)
my_list

['A string', 23, 5.2, None, 1, 2, 3]

In [ ]:
my_list.extend(set((15,)))

In [ ]:
my_list

['A string', 23, 100.232, 'o', 'ahmed', 15]

# Tuples

**Define a Tuple**

In [ ]:
# the first way to define a tuple
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [ ]:
# the second way to define a tuple
my_tuple = tuple((1, 2, 3))
my_tuple

(1, 2, 3)

In [ ]:
type(my_tuple)

tuple

In [ ]:
# note if your tuple will have one item then you should use the second way
my_tuple = (1) # ("Ali")

print(type(my_tuple))

<class 'int'>

**Get the length of a tuple (Number of items it contains)**

In [ ]:
len(my_tuple)

3

**A tuple can contain items of different type**

In [ ]:
my_tuple = ('A string', 23, 5.2, None)
my_tuple

('A string', 23, 5.2, None)

**A tuple can contain items of any type (Numbers, Booleans, Lists, Tuples, Objects, etc)**

In [ ]:
lst = [True, 1, "Omar", None]
t = (1, 2, 3)
x = 7

my_tuple = (1, "Ali", lst, [False, "Amit"], 7, t)
my_tuple

(1, 'Ali', [True, 1, 'Omar', None], [False, 'Amit'], 7, (1, 2, 3))

**Indexing**

In [ ]:
my_tuple = ['one', 'two', 'three', 4, 5]

In [ ]:
my_tuple[0]

'one'

In [ ]:
my_tuple[-1]

5

**Slicing**

In [ ]:
my_tuple = ('one', 'two', 'three', 4, 5)

In [ ]:
my_tuple[1:]

('two', 'three', 4, 5)

In [ ]:
my_tuple[:3]

('one', 'two', 'three')

In [ ]:
my_tuple[-1: : -1]

(5, 4, 'three', 'two', 'one')

**Duplicate list using multiplication operator**

In [ ]:
old_tuple = ('one', 'two', 'three', 4, 5)

new_tuple = old_tuple * 2

print(old_tuple)
print(new_tuple)

('one', 'two', 'three', 4, 5)
('one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5)

**Merge Two lists into one list using + operator**

In [ ]:
tuple1 = ('A string', 23, 5.2, None)
tuple2 = ('ahmed', 55)

tuple3 = tuple1 + tuple2
tuple3

('A string', 23, 5.2, None, 'ahmed', 55)

In [ ]:
tuple1 = ('A string')
tuple2 = ('ahmed')

tuple3 = tuple1 + tuple2
tuple3

str

**Get frequency of an item in a tuple**

In [ ]:
my_tuple = (5, 1, 2, 5, 9, 2, 3, 2, 4, 5)
my_tuple.count(5)

3

**Get index of an element in a tuple**

In [ ]:
my_tuple = (5, 1, 2, 5, 9, 2, 3, 2, 4, 5)
my_tuple.index(9)

4

**Immutability**

Tupels are immutable which means they cannot be changed hence you cannot **add items** to them, **remove items** from them, nor you can **sort them**

In [ ]:
my_tuple = ('one', 'two', 'three', 4, 5)

In [ ]:
my_tuple[0]= 'ahmed'

In [ ]:
my_tuple.append('nope')

**How to modify tuples?**

convert it into a list, then modify it, and finally convert it back into tuple

In [ ]:
my_tuple = ('one', 'two', 'three', 4, 5)

tuple_to_list = list(my_tuple) # convert tuple into list

tuple_to_list.append('ahmed') # modify the list

my_tuple = tuple(tuple_to_list) # convert the list back into a tuple

my_tuple

('one', 'two', 'three', 4, 5, 'ahmed')

# Sets

**Define a set**

In [89]:
# the first way to define a set
my_set = {1, 1, 2, 3, 4, 2, 4}
my_set

{1, 2, 3, 4}

In [ ]:
# the second way to define a set
my_set = set((1, 2, 3, 4))
my_set

{1, 2, 3, 4}

In [ ]:
type(my_set)

set

**Get set length (Number of Items a set contains)**

In [ ]:
my_set = {1, 2, 3, 4}
len(my_set)

4

**A set can contain items of different type**

In [ ]:
my_set = {'A string', 23, 5.2, None}
my_set

{23, 5.2, 'A string', None}

**A set can contain items of only immutable types (Numbers, Booleans, Tuples, etc)**

In [ ]:
lst = [True, 1, "Omar", None]
t = (1, 2, 3)
s = {"Ali", 5}
x = 7

my_set = {1, "Ali", 7, t}
my_set

In [ ]:
# The following will raise an error since set can only contain immutable type.
lst = [True, 1, "Omar", None]
t = (1, 2, 3)
s = {"Ali", 5}
x = 7

my_set = {1, "Ali", lst, [False, "Amit"], s, 7, t}
my_set

**Access items in a set**

In [ ]:
# The first way: iterate over the elements using for loop
my_set = {3, 4, 5, 1, 2, 2}

for i in my_set:
  print(i, end=" ")

1 2 3 4 5

In [ ]:
# the second way: convert the set into a list
my_set = {3, 4, 5, 1, 2, 2}

set_to_list = list(my_set)

print(set_to_list)
print(set_to_list[0])
print(set_to_list[-1])

[1, 2, 3, 4, 5]
1
5

**Add item to a set**

In [ ]:
my_set = set()
print(my_set)

my_set.add(1)
my_set.add(2)
my_set.add("Ali")

print(my_set)

set()
{1, 2, 'Ali'}

In [ ]:
my_set = {1, 2, 2}
print(my_set)

my_set.add(5)
print(my_set)

{1, 2}
{1, 2, 5}

**Remove an element from the set**

In [ ]:
# The first way (it will raise an error if the element you are trying to remove is not existed in the set)
my_set = {3, 4, 5, 1, 2, 2}

my_set.remove(2)
my_set

{1, 3, 4, 5}

In [ ]:
# The second way (it will not raise an error if the element is not existed, it will just ignore the operation)
my_set = {3, 4, 5, 1, 2, 2}

my_set.discard(2)
my_set

{1, 3, 4, 5}

**Merge Two sets into one set**

In [ ]:
set1 = {'A string', 23, 5.2, None}
set2 = {'ahmed', 55}

set3 = set1.union(set2)
set3

{23, 5.2, 55, 'A string', None, 'ahmed'}

**Add items of one set to anohter**

In [ ]:
my_set = {'A string', 23, 5.2, None}
s = {'ahmed', 55}

my_set.update(set2)
my_set

{23, 5.2, 55, 'A string', None, 'ahmed'}

**Get intersection between two sets**

In [ ]:
# The first way (return the result in a new set)
set1 = {23, 5.2, 'ahmed', None}
set2 = {None, 'ahmed', 55}

intersection_set = set1.intersection(set2)
intersection_set

{None, 'ahmed'}

In [ ]:
# The second way (save the result in the set itself)
my_set = {23, 5.2, 'ahmed', None}
s = {None, 'ahmed', 55}

my_set.intersection_update(s)
my_set

{None, 'ahmed'}

**Check if a set is subset of another set**

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1.issubset(set2))

**Empty the set**

In [91]:
my_set = {3, 4, 5, 1, 2, 2}
print(my_set)

my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
set()

# Dictionaries



## Constructing a Dictionary

**Define a Dictionary**

In [54]:
# the first way
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}
my_dict

{'name': 'Ahmed', 'age': 50, 'salary': 15000}

In [60]:
# the second way
my_dict = dict([("name", "Ahmed"), ("age", 50), ("salary", 15000)])
my_dict

{'name': 'Ahmed', 'age': 50, 'salary': 15000}

**Note that key should be immutable while values could be whatever you want**

In [53]:
my_dict = {"name": "Ahmed", "age": 50, 5: "number", True: 1, False: 20, (5, 7): 50}
my_dict

{'name': 'Ahmed', 'age': 50, 5: 'number', True: 1, False: 20, (5, 7): 50}

**Access an element in a dictionary**

In [43]:
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}
my_dict["age"]

50

**Modify dictionary values**

In [39]:
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

my_dict["name"] = "Ali"
my_dict

{'name': 'Ali', 'age': 50, 'salary': 15000}

**Get keys of a dictionary**

In [40]:
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

my_dict.keys()

dict_keys(['name', 'age', 'salary'])

**Get values of a dictionary**

In [41]:
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

my_dict.values()

dict_values(['Ahmed', 50, 15000])

**Check if a key is in a dictionary**

In [68]:
# the first way
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

"name" in my_dict

True

In [69]:
# the second way
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

"name" in my_dict.keys()

True

**Empty dictionary**

In [70]:
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}
my_dict.clear()
my_dict

{}

**return list of tuples, where each tuple is a key-value pair**

In [63]:
# the first way
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

items = my_dict.items()

items = list(items)

items[0]

('name', 'Ahmed')

In [65]:
# the second way: this doesn't return a list of tuples but display each key-value pair
my_dict = {"name": "Ahmed", "age": 50, "salary": 15000}

for key_value_pair in my_dict.items():
  print(key_value_pair)

('name', 'Ahmed')
('age', 50)
('salary', 15000)

# if Statements

## First Example

In [78]:
x = 5
if x == 5:
  print("They are equal")

They are equal

In [79]:
x = 6

if x == 5:
  print("Not equal!")

In [80]:
x = 6

if x != 5:
  print("Not equal!")

Not equal!

**if else statement**

In [82]:
x = 6
if x == 5:
  print("They are equal")
else:
  print("Not equal!")

Not equal!

**Multiple if statements**

In [83]:
x = 6

if x != 5:
  print("Not equal!")
if x == 5:
  print("They are equal")
else:
  print("Not equal!")

Not equal!
Not equal!

**if elif else statement**

In [85]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

**Task: take the mark from the user and convert it to grade according to the following guidelines**
1. 85-100 A
2. 75-85 B
3. 65-75 C
4. 50-65 D
5. <50 F

In [86]:
x=int(input('enter your grade '))

if x>=85 and x<=100:
    print('A')
elif x>=75 and x<85:
    print('B')
elif x>=65 and x<75:
    print('C')
elif x>=50 and x<65:
    print('D')
elif x<50:
    print('good luck next year')
else:
    print('enter a valid data')

enter your grade 50
D